In [28]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder
from sklearn.model_selection import train_test_split

In [29]:
np.random.seed(42)

data = {
    "review": np.random.choice(["good", "average", "poor"], 100),
    "education": np.random.choice(["ug", "pg", "phd"], 100),
    "purchased": np.random.choice(["yes", "no"], 100)
}

In [30]:
df = pd.DataFrame(data)

In [31]:
x_train, x_test, y_train, y_test = train_test_split(df.iloc[:,0:-1], df.iloc[:,-1], test_size=0.2, random_state=42)

In [32]:
x_train

     review education
55     poor       phd
88  average        pg
26     good       phd
42     poor        pg
69     good        pg
..      ...       ...
60  average       phd
71  average        pg
14  average        ug
92     good        ug
51     good        ug

[80 rows x 2 columns]

In [33]:
oe = OrdinalEncoder(categories=[["poor", "average", "good"], ["ug", "pg", "phd"]])

oe.fit(x_train)

x_train = oe.transform(x_train)

In [34]:
x_train

array([[0., 2.],
       [1., 1.],
       [2., 2.],
       [0., 1.],
       [2., 1.],
       [2., 1.],
       [2., 2.],
       [2., 2.],
       [0., 1.],
       [1., 2.],
       [0., 1.],
       [2., 2.],
       [1., 0.],
       [0., 2.],
       [0., 0.],
       [2., 2.],
       [1., 1.],
       [1., 0.],
       [1., 2.],
       [1., 0.],
       [1., 0.],
       [0., 2.],
       [1., 2.],
       [2., 1.],
       [0., 0.],
       [1., 1.],
       [2., 2.],
       [2., 0.],
       [1., 1.],
       [0., 2.],
       [2., 2.],
       [0., 0.],
       [1., 2.],
       [2., 2.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [1., 1.],
       [0., 1.],
       [2., 2.],
       [0., 2.],
       [2., 0.],
       [1., 0.],
       [2., 1.],
       [1., 1.],
       [1., 0.],
       [1., 2.],
       [1., 0.],
       [2., 2.],
       [0., 2.],
       [1., 0.],
       [0., 2.],
       [0., 0.],
       [1., 0.],
       [2., 1.],
       [2., 0.],
       [1., 0.],
       [1., 0.],
       [2., 2.],
       [0., 2.],
       [1., 1.],
       [2., 0.],
       [0., 2.],
       [0., 1.],
       [2., 2.],
       [1., 2.],
       [2., 2.],
       [0., 2.],
       [1., 2.],
       [2., 2.],
       [2., 1.],
       [1., 2.],
       [0., 2.],
       [1., 1.],
       [2., 0.],
       [1., 2.],
       [1., 1.],
       [1., 0.],
       [2., 0.],
       [2., 0.]])